
.about-box{
    background-color:rgb(255,201,121,0.9);
    max-width: 700px;
    max-height: 300px;
    padding:20px 20px;
    margin: 60px auto;
}

h2{
    text-align: center;
    text-transform: capitalize;
    margin-top: 5px;
}

h1{
    margin-right: 0px;
}


@media(min-width: 900px){

    h1{
        font-size: 22px;
    }

    .about-box{
        margin-top: 200px;
        padding:30px 100px;
    }

    h2{
        font-size: 40px;
    }

    .about-text{
        font-size: 20px;
    }
}
