body{
    background-image: url(../images/rainydays_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color:rgb(143, 190, 218, 0.7);
    margin:-8px;
    max-height:200;
}

.top{
    display: flex;
    align-items: center;
}

.logo{
    max-height: 80px;
    margin-left: 25px;
    border: none;
    margin-top: -5px;
}

nav{
    margin-left: -20px;
}

nav li{
    display: inline-block;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}

.search-bar{
    max-height: 20px;
    max-width: 130px;
    margin-left: 15px;
}

.womens-mens{
    display: flex;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.womens,.mens{
padding:10px;
}

h1{
    background-color: black;
    color: white;
    margin:-8px;
    margin-right: 0px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
}

/*site spesific*/

.about-box{
    background-color:rgb(255,201,121,0.9);
    max-width: 700px;
    max-height: 300px;
    padding:20px 20px;
    margin: 60px auto;
}

h2{
    text-align: center;
    text-transform: capitalize;
    margin-top: 5px;
    
}


@media(min-width: 900px){
    .womens-mens{
        margin-left: 300px;
        margin-top: -55px;
    }

    header{
        max-height: 130px;
    }

    .top{
        float:right;
        margin-right: 50px;
        margin-top: 20px;
        font-weight: bold;

    }
    
    .search-bar{
        position:relative
    }

    .logo{
        margin-top: 20px;
        margin-left: 50px;
    }

    h1{
        font-size: 22px;
    }

    .about-box{
        margin-top: 200px;
        padding:30px 100px;

    }

    h2{
        font-size: 40px;
    }

    .about-text{
        font-size: 20px;
    }
}
