body{
    background-image: url(../images/rainydays_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color:rgb(143, 190, 218, 0.7);
    margin:-8px;
    max-height:200;
}

.top{
    display: flex;
    align-items: center;
}

.logo{
    max-height: 80px;
    margin-left: 25px;
    border: none;
    margin-top: -5px;
}

nav{
    margin-left: -20px;
}

nav li{
    display: inline-block;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}

.search-bar{
    max-height: 20px;
    max-width: 130px;
    margin-left: 15px;
}

.womens-mens{
    display: flex;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.womens,.mens{
padding:10px;
}

h1{
    background-color: black;
    color: white;
    margin: -8px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
}

/**/
 
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#FFC979;
    color: black;
    padding: 20px 40px;
    border: solid 1px #FFAE36;
    cursor: pointer;
    font-size: 15px;
  }
  
  input[type=submit]:hover {
    background-color:#FFAE36;
  }
  
 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    margin: 70px 10px;
  }
  

  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 700px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


@media(min-width: 900px){
    .womens-mens{
        margin-left: 300px;
        margin-top: -55px;
    }

    header{
        max-height: 130px;
    }

    .top{
        float:right;
        margin-right: 50px;
        margin-top: 20px;
        font-weight: bold;

    }
    
    .search-bar{
        position:relative
    }

    .logo{
        margin-top: 20px;
        margin-left: 50px;
    }

    h1{
        font-size: 22px;
    }

    .about-box{
        margin-top: 125px;
        padding:60px 200px;
    }

    h2{
        font-size: 40px;
    }

    .about-text{
        font-size: 20px;
    }

}