body{
    background-image: url(../images/rainydays_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color:rgb(143, 190, 218, 0.7);
    margin:-8px;
    max-height:200;
}

.top{
    display: flex;
    align-items: center;
}

.logo{
    max-height: 80px;
    margin-left: 25px;
    border: none;
    margin-top: -5px;
}

nav{
    margin-left: -20px;
}

nav li{
    display: inline-block;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}

.search-bar{
    max-height: 20px;
    max-width: 130px;
    margin-left: 15px;
}

.womens-mens{
    display: flex;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.womens,.mens{
padding:10px;

}

.womens:hover, .mens:hover, .about:hover, .contact:hover, .cart:hover{
    text-decoration:underline;
}

.jacket-1:hover,.jacket-2:hover,.jacket-3:hover,.jacket-4:hover{
    border: black 3px solid;

}

h1{
    background-color: black;
    color: white;
    margin: -8px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    
    
}

img {
    max-height: 200px;
    border: solid 1px grey;
    margin-top: 20px;
    margin-left: 5px;
}

/*content page*/

.icons{
    display:block;
    background-color: white;
    margin:50px;
    padding-top: 20px;
    
    
    
    
}

.material-icons{
    background-color: #AFBCB1;
    text-align: center;
    border-radius: 100px;
    max-width: 300px;
    max-height: 300px;
    padding: 40px;
    margin: 10px auto;
}

.email,.phone,.facebook{
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}

h2{
    text-transform: uppercase;
}

    
@media (min-width: 800px){

    /*this page*/
    
    .icons{
        display:flex;
        margin:150px;
    }

    .email,.phone,.facebook{
        margin:50px auto;
        padding:-500px


        
    


    
}
@media(min-width: 1000px){
    
    .pictures{
        margin-top:100px ;
    }
    .womens-mens{
        margin-left: 300px;
        margin-top: -55px;
    }

    header{
        max-height: 130px;
    }

    .top{
        float:right;
        margin-right: 50px;
        margin-top: 20px;
        font-weight: bold;

    }
    
    .search-bar{
        position:relative
    }

    .logo{
        margin-top: 20px;
        margin-left: 50px;
    }

    h1{
        font-size: 22px;
    }

    /*cotact page*/
