
.icons{
    display:block;
    background-color: white;
    margin:50px;
    padding-top:20px;
}

.material-icons{
    background-color: #AFBCB1;
    text-align: center;
    border-radius: 100px;
    max-width: 100px;
    max-height: 100px;
    padding: 25px;
    margin: 10px auto;
}

.email,.phone,.facebook{
    text-align: center;
    font-size: 20px;
}

h2{
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 20px;
}

.follow{
    font-style: italic;
    text-decoration: underline;
}

  
@media (min-width: 800px){

    .icons{
        display:flex;
        margin:150px;
    }

    .email,.phone,.facebook{
        margin:50px auto;
        padding:-500px;
    }
}
