header{
    background-color:rgb(153, 172, 156, 0.7);
}

.quote{
    visibility: hidden;
    font-size: 1px;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
}

button{
    font-size: 20px;
    text-transform: uppercase;
    background-color:#FFC979;
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
}

.cta-women{
    padding: 15px 40px;
    margin-bottom: 30px;
}

.cta-men{
    padding: 15px 58px;
}

div.content{
    text-align: center;
    margin-top: 100px;
}

@media(min-width: 577px){
   

    .cta-women{
        padding: 20px 32px;
        margin-right: 15px;
    }
    
    .cta-men{
        padding: 20px 50px;
    }

    .quote{
        visibility: visible;
        margin-top: 150px;
        margin-bottom: 100px;

    }

    .quote-one{
        font-size:40px;
        margin-bottom: 30px;
    }

    .quote-two{
        font-size: 55px;
        margin:30px 0px
    }

}

@media(min-width:900px){
    .quote{
        visibility: visible;
        text-align: right;
        margin:0px
    }
    
    .quote-one{
        font-size:45px;
        margin-bottom: 30px;
    }

    .quote-two{
        font-size: 60px;
        margin:30px 0px
    }

    div.content{
        position: absolute;
        bottom:30px;
        right:40px;
        text-align: right;
    }

}

@media(min-width:1300px){
       
    .quote-one{
        font-size:58px;
        margin-bottom: 30px;
    }
    
    .quote-two{
        font-size: 80px;
        margin:30px 0px
    }
    
    div.content{
        bottom:100px;
        right:100px;
    }

     button{
        font-size: 30px;
    }

    .cta-women{
        padding: 25px 35px;
        margin-right: 20px;
    }
        
    .cta-men{
        padding: 25px 53px;
    }
}