.jacket-1:hover,.jacket-2:hover,.jacket-3:hover,.jacket-4:hover{
    border: black 3px solid;
}

img {
    max-height: 350px;
    border: solid 1px grey;
    margin-top: 30px;
    margin-left: 5px;
}

.pictures{
    text-align: center;
}

@media (min-width: 900px){

    img{
        max-height: 400px;
        margin: 5px,auto;
    }
    
}

@media (min-width: 1350px){
    
    .pictures{
        margin-top: 70px;
    }

}