.sucsess-box{
    background-color: #ffffff;
    text-align: center;
    margin: 40px;
    padding: 50px;
}

.your-payment{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.material-icons{
    color:#FFC979;
}

p{
    text-align: left;
}

.continue{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

@media(min-width:900px){
    p{
        text-align: center;
        margin-bottom: 75px;
    }
    
    .sucsess-box{
        margin: 100px 100px;
    }
}