
img{
    max-width: 250px;
}

.row {
    margin: 25px auto;
    background-color: white;
    max-width: 1000px;
    padding:50px;
    text-align: center;
}

.column {
    flex: 50%;
    
}

.price,.colors,.size{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;

}

.yellow-button, .black-button, .green-button{
    font-size: 5px;
    border-radius: 50%;
    padding:15px;
    margin-right: 7px;
    border: 1px solid gray;
}

.yellow-button{
    color: #F0D02E;
    background-color: #F0D02E;

}

.black-button{
    color: black;
    background-color: black;
}

.green-button{
    color: #8FD747;
    background-color: #8FD747;
}

.yellow-button:hover, .black-button:hover, .green-button:hover{
    border: none;
}

.size-s,.size-m,.size-l,.size-xl{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20px;
    margin-right: 7px;
}

.size-s:hover,.size-m:hover,.size-l:hover,.size-xl:hover,.cta-button:hover{
    color: white;
    background-color: black;
    border:none
}

.cta-button{
    font-size: 20px;
    background-color:#FFC979 ;
    margin-top: 20px;
    padding: 10px 32px;
    border:1px solid lightgray;
    border-radius: 2px;
}


@media(min-width:600px){
    img{
        max-width: 300px;
    }

    .row {
        display: flex;
    }

    .price, .colors, .size{
        text-align: left;

    }

    .cta-button{
        float: left;
    }

    .colors,.size,.price{
        max-width: 270px;
        margin-top: 20px;
    }
    
}


@media(min-width: 900px){
    
    img{
        max-width: 500px;
        margin-right: 50px;
        
    }

    .row {
        margin: 50px auto;
    
    }

    .colors,.size,.price{
        max-width: 350px;
        margin-top: 20px;
    }

    .price{
        padding-bottom: 0px;
    }

    .cta-button{
        margin-top:26px ;
    }

    .product-name{
        font-size: 25px;
        margin-top: 125px;
    }
}