body{
    background-image: url(../images/rainydays_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color:rgb(143, 190, 218, 0.7);
    margin:-8px;
    max-height:200;
}

.top{
    display: flex;
    align-items: center;
}

.logo{
    max-height: 80px;
    margin-left: 25px;
    border: none;
    margin-top: -5px;
}

nav{
    margin-left: -20px;
}

nav li{
    display: inline-block;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    
}

.search-bar{
    max-height: 20px;
    max-width: 130px;
    margin-left: 15px;
}

.womens-mens{
    display: flex;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.womens,.mens{
padding:10px;
}

h1{
    background-color: black;
    color: white;
    margin: -8px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
}

/**/
img{
    max-width: 250px;
}

.row {
    margin: 25px auto;
    background-color: white;
    max-width: 1000px;
    padding:50px;
    text-align: center;
}


.column {
    flex: 50%;
    
}

.price,.colors,.size{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;

}


.yellow-button, .black-button, .green-button{
    font-size: 5px;
    border-radius: 50%;
    padding:15px;
    margin-right: 7px;
    border: 1px solid gray;
}

.yellow-button{
    color: #F0D02E;
    background-color: #F0D02E;

}

.black-button{
    color: black;
    background-color: black;
}

.green-button{
    color: #8FD747;
    background-color: #8FD747;
    
}

.yellow-button:hover, .black-button:hover, .green-button:hover{
    border: none;
}

.size-s,.size-m,.size-l,.size-xl{
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 20px;
    margin-right: 7px;
}

.size-s:hover,.size-m:hover,.size-l:hover,.size-xl:hover,.cta-button:hover{
    color: white;
    background-color: black;
    border:none
}

.cta-button{
    font-size: 20px;
    background-color:#FFC979 ;
    margin-top: 20px;
    padding: 10px 32px;
    border:1px solid lightgray;
    border-radius: 2px;

}








@media(min-width:600px){
    img{
        max-width: 250px;
    }

    .row {
        display: flex;
    }

    .price, .colors, .size{
        text-align: left;

    }

    .cta-button{
        float: left;
    }
    

}


@media(min-width: 900px){
    .womens-mens{
        margin-left: 300px;
        margin-top: -55px;
    }

    header{
        max-height: 130px;
    }

    .top{
        float:right;
        margin-right: 50px;
        margin-top: 20px;
        font-weight: bold;

    }
    
    .search-bar{
        position:relative
    }

    .logo{
        margin-top: 20px;
        margin-left: 50px;
    }

    h1{
        font-size: 22px;
    }

    .about-box{
        margin-top: 125px;
        padding:60px 200px;
    }

    h2{
        font-size: 40px;
    }

    .about-text{
        font-size: 20px;
    }

    img{
        max-width: 500px;
        padding-right: 50px;
    }

    /**/

    .row {
        margin: 50px auto;
    }
}