header {
    background-color: #99AC9C;
    color: black;
    opacity: 80%;
    border: 0px;
    padding: 0px;
    margin:-8px;
    max-height: 200px;
    

} 

body {
    background-image: url(../images/rainydays_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

a {
    color: black;
    text-decoration: none;
}

nav ul {
    padding: 0;
}

nav li {
    display: inline-block;
}
    

.logo {
    max-width: 400px;
    position: relative;
    top: 13px;
    left: 30px;
    }

.cta_women { 
    background-color:#FFC979 ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 550;
    padding: 23px 18px;
    border-radius: 5px;
    top: 330px;
    left: 780px;
    position: relative;
} 

.cta_men {
    background-color:#FFC979 ;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 600;
    padding: 23px 40px;
    border-radius: 5px;
    position: relative;
    top: 330px;
    left: 795px;
}

.quote_one {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    position: relative;
    top: 350px;
    left: 1160px;
}

.quote_two {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    position: relative;
    top: 330px;
    left: 970px;
}

.womens_mens {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-size: 2em;
    position:relative;
    left: 550px;
    top: -130px;
    margin-left: 30px;
    display: inline-block;

}

.icon_text {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    color: black;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    left: 1170px;
    top: -115px;
    margin-left: 20px;
}

.search_bar{
    position: relative;
    padding: 12px 40px;
    left: 925px;
    top: -50px;
    border-radius: 5px;
    text-align: left;
}
