body{
    background-image: url(../images/rainydays_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    background-color:rgb(143, 190, 218, 0.7);
    margin:-8px;
    max-height:200;
}

.top{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo{
    max-height: 80px;
    margin-left: 25px;
    border: none;
}

nav{
    margin-left: -20px;
}

nav li{
    display: inline-block;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
}

.search-bar{
    max-height: 20px;
    max-width: 130px;
    margin-left: 15px;
}

.womens-mens{
    display: flex;
    margin-left: 30px;
    margin-top: -20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.womens,.mens{
padding:10px;
}

.womens:hover, .mens:hover, .about:hover, .contact:hover, .cart:hover{
    text-decoration:underline;
}

h1{
    background-color: black;
    color: white;
    margin: -8px;
    margin-right: 0px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    text-align: center;
}

@media(min-width: 600px){
    
    .top{
        float: right;
    }

    .logo{
        margin-top: 20px;
    }
}

@media(min-width: 900px){
    .womens-mens{
        margin-left: 300px;
        margin-top: -65px;
        font-size: 25px;
    }

    .womens,.mens{
        padding-left: 75px;
    }

    header{
        max-height: 130px;
    }

    .top{
        float:right;
        margin-right: 50px;
        margin-top: 5px;
        font-weight: bold;

    }
    
    .search-bar{
        position:relative
    }

    nav li{
        font-size: 20px;
        margin-right: 10px;
    }

    .logo{
        margin-top: 20px;
        margin-left: 50px;
    }

    h1{
        font-size: 22px;
    }



}
