body {
    background-image: url(../images/rainydays_background.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color:rgb(153, 172, 156, 0.7);
    align-items: center;
    margin: -8px;
    max-height: 215px;
    display:flex;
}

.logo{
    max-height:150px;
}

nav{
    margin-left: 325px;
    margin-top: -50px;
    
}


nav li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    display: inline;
}

.search-bar{
    padding: 12px 40px;
    border-radius: 5px;
    text-align: left;
    margin-top: 100px;
    position:absolute;
    margin-left: 1455px;
}

.womens, .mens{
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;  
    display: inline-block;
    padding: 15px;  
    margin-left: 30px;
    margin-top: 150px;
}





a{
    text-decoration: none;
    color: black;
}

header a{
    padding: 20px;
}

/*Home page*/

.cta-mens, .cta-womens{
    background-color: #FFC979;
    font-size: 30px;
    font-weight:bold;
    text-transform: uppercase;
    border-radius: 3px;
    position: absolute;
    

}

.cta-mens{
    padding: 20px 50px;
    position: absolute;
    top:900px;
    left:1370px
}

.cta-womens{
    padding: 20px 25px;
    position: absolute;
    top: 900px;
    left: 1000px;
    
}

.quote{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.quote-one{
    font-size: 50px;
    position: absolute;
    margin-left: 1370px;
    margin-top: 450px;
    
}

.quote-two{
    font-size: 70px;
    position: absolute;
    margin-left: 1150px;
    margin-top: 550px;
    

    
}
