img:hover{
    border: black 2px solid;
}
    

img {
    max-height: 300px;
    border: solid 1px grey;
    margin-top: 20px;
    margin-left: 5px;
}

.pictures{
    text-align: center;
    margin-top: 20px;
}

@media(min-width: 700px){

    img{
        max-height: 400px;
        margin: 5px,auto;
    }

    .pictures{
        margin-top:50px;
        text-align: center;
    }
        
}

@media(min-width: 1000px){

    img{
        max-height: 400px;
    }
    
    .pictures{
        margin-top:100px;
        text-align: center;

    }
    
    .logo{
        margin-top: 20px;
        margin-left: 50px;
    }

}

@media (min-width: 1350px){
    
    .pictures{
        text-align: center;
    }

    img{
        max-height: 400px;
    }

}